/* GENERAL SETTINGS */
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  height: 5100px;
  font-size: 20px;
  
}
.container {
  width: 1400px;
  margin: 0 auto;
}

.clearfix::after {
  content:" ";
  display: block;
  clear: both ;
  visibility: hidden;
  height: 0;
}
h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 50px;
}
h4 {
  font-size: 22px;
  text-align: center;
  margin-top: 40px;
}
/* HEADER */
.header {
  margin-top: 100px;
}
.logo {
  float: left;
  width: 400px;
  text-align: center;
}
.meny {
  float: left;
}
.meny li{
  list-style-type: none;
  display: inline-block;
  margin-left: 50px;
} 
[href] {
    text-decoration-line: none;
    color: #212121;
  }
.find {
  float:left;
  margin-left: 50px;
}
.info {
  position: absolute;
  border: 2px solid rgb(173, 173, 173);
  border-radius: 10px;
  padding: 2px;
  margin-left: 50px;
}
.findtext{
  display: inline-block;
  width: 0px;
  border: none;
  outline: none;
  background-color: none;
  transition: 1s;
  
}
.info:hover>.findtext  {
  width: 120px;
 
}
.findbutton {
  color: #212121;
  display: inline-block;
}
 /* ORDER SERVICES PART WITH BG _ PICTURE */
.background {
  background-image: url(../img/Maket2/bgw.webp); 
  background-size: cover;
  height: 500px;
 width: 100%;
  position: relative;
  margin-top: 90px;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
}
.left {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-100%,-50%);
  height: 70px;
width: 220px;
text-align: center;
background-color: transparent;
border: 4px solid #ffffff;
color:#ffffff ;
font-size: 16px;
font-weight: 900;
}
.right{
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(0,-50%);
  height: 70px;
  width: 220px;
  background-color: #00897b;
  margin-left: 20px;
;
  font-size: 16px;
  font-weight: 900;
}
.left:hover {
  background-color:#00897b;
}
.right:hover {
  background-color: transparent;
  color: #ffffff;
}
/* ABOUT US  */
.aboutUS h1 {
  color: #212121;
}
.aboutUS h4 {
  color: #212121;
}
.add {
  float:left;
  width: 466px;
  margin-top: 150px;
 text-align: center;
}
.add h4 {
  margin-top: 40px;
}
.add p {
  padding: 50px;
}
/* THIS IS BLUE BLOCK HERE */
.blueBlock {
  background-color: #e4fdf9;
  height: 1500px;
  position: relative;
}
.blueBlock h1 {
  color: #212121;
  padding: 50px;
}
.blueBlock h4 {
  color: #212121;

}
.block {
  float:left;
 width: 400px ;
 height: 500px;
  background-color: #ffffff;
  margin-top: 66px;
  margin-left: 66px;
  padding: 50px;
  position: relative;
text-align: center;
}
.block a{
  display: inline-block;
  width: 145px;
  height: 55px;
  border: #212121 2px solid;
 text-align: center;
 line-height: 55px;
 position: absolute;
left: 50%;
 top:90%;
 transform: translate(-50%,-50%);

}
.block img {
  text-align: center;

 
}
 /* TEAM */
.team h1 {
  color:#212121;
}
.team h4 {
  color: #212121;
}
.profil {
  float:left;
  text-align: center;
  width: 386px;
  margin: 66px 40px;
}
.links {
  height: 55px;
  width: 300px;
  margin: auto;
}
.links i {
  height: 55px;
  width: 60px;
  margin-top: 30px;
  color: #00897b;
}

/* CONTACT */
.contactarea {
  float:left;
  text-align: center;
  width: 386px;
  margin: 66px 40px;
  color: #ffffff;
}
.contact h1 {
  padding: 50px;
}
.contact h1, h4 {
  color: #ffffff;
}
.contact img{ height: 150px;
  width: 190px;} 

.contactarea span {
  display: block;
  text-align: center;
  font-weight: 600;
  
}
.inputform {
 margin-top: 80px;
 height: 440px;
}
.form input:first-child{
  height: 80px;
  width: 500px;
  background-color: #ffffff;
  padding: 10px;
  margin-left: -14px;
  position: absolute;
  left: 50%;
  transform: translate(-100%,0);
  border: 2px solid #212121;
}
.form input:last-child{
  height: 80px;
  width: 500px;
  background-color: #ffffff;
  margin-left: 15px;
  position: absolute;
  left: 50%;
  padding: 10px;
  border: 2x solid #212121;
 
}
.textform textarea {
  margin-top: 120px;
  width: 1030px;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  border: 2px solid #212121;
}
[placeholder] {
  font-size: 25px;
}
.btn button {
 float:right;
  height: 80px;
  width: 230px;
  margin-right: 187px;
  margin-top: 40px;
  border-radius: 8px;
}
.contactImage {
  background-image: url(../img/Maket2/bgw.webp);
  background-size: cover;
  height: 1260px;
  max-width: 100%;
  background-position: left;

}
.rights h4 {
  margin-top: 20px;
  text-align: center;
  color: #212121;
}