@media (max-width: 650px) {
    .meny { 
        float: none;
        min-width: 650px;
        text-align: center;
        font-size: 22px;

    }
    .meny li {
        list-style-type: none;
    }
    .header {
        min-width: 670px;
    }
    .content {
        margin: 20px;
        padding: 20px;
     
        width: 650px;
    }
    .footer {
        min-width: 650px;
    }
    .content img {
       
        width: 70%;
    }
    
}
